  .dropdown-item {
    display:inline;
    width: 100%;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    color: #ff0000;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 20px; 
  }
  
  .form-control {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #f3181800;
    background-clip: padding-box;
    border: 1px solid #ffffff00;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    color: #ffffff;
    background-color:    #ffffff00;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    background-color: transparent;
  }
  
  .btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .collapse.navbar-collapse {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #28a745;
  }
  
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 10px;
  }
  
  .form-control-mr-sm-2{
    color: #fff;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0080ff;
    padding: 10px 0;
    z-index: 1000;
    display:table-row;
  }  
  
  .navbar-content {
    display: table-row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust based on your layout needs */
    margin: 0 auto;
    padding: 0 20px;
  }

  .tab {
    display:block;
    gap: 0.1em; 
}
